@import "./_svg.css";
@import "./pages.css";
@import "./badges.css";
@import "./options-boxes.css";
@import "./inline-demo.css";
@import "./utilities.css";
@import "./style-guide.css";

h1, h2, h3 {
  @apply text-gray-900 dark:text-neutral-300;
}

.vt-doc.blog {
  @apply prose-lg;
}

.vt-doc.blog p{
  @apply prose-lg;
}

.vt-doc.blog h1{
  @apply text-4xl text-center mb-16;
}
.vt-doc.blog h2{
  @apply text-3xl text-neutral-500 pt-12;
}

.vt-doc.blog h3{
  @apply text-xl text-neutral-400 pt-8;
}

.vt-doc.blog img {
  @apply rounded-lg shadow-xl ring-1 ring-black ring-opacity-5;
  display: block;
  vertical-align: middle;
}

.vt-doc.blog img, .vt-doc.blog video {
  max-width: 100%;
  height: auto;
}


